.App {
  text-align: center;
}
.aa {
    align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.b {
    background-color: #14daa2; /* Green */
    border: none;
    color: rgb(9, 9, 9);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width:  100%;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
}

.b:active, .b:hover{
    background-color: #0d769f; /* Green */

}
.B:active, .B:hover{
    background-color: #0d769f; /* Green */

}
.f:active, .f:hover{
    background-color: #131b75; /* Green */

}
.fade {
    opacity: 0;
    
    
    transition: opacity 2s;
  }
  
  .fade.show {
    background: linear-gradient(45deg, #1c191e, #0c1d4f);
   
    opacity: 1;
  }
  
ul.no-bullets {
    list-style-type: none;
}

.link {
    background-color: #067765; /* Green */
    border: 6px solid #067765;
    border-radius: 9px;
    text-decoration: none;
    font: bold;
    color: white;
}
.b1 {
    background-color: #14da59; /* Green */
    border: none;
    color: rgb(16, 15, 15);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
}
.B1 {
    background-color: #14a2da; /* Green */
    border: none;
    color: rgb(11, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px rgb(34, 34, 34);
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
}
.B {
    background-color: #14a2da; /* Green */
    border: none;
    color: rgb(10, 10, 10);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width:  100%;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    box-shadow: 10px 10px 5px rgb(34, 34, 34);
}
.d{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.f {
    background-color: #2828cf; /* Green */
    border: none;
    color: rgb(12, 12, 12);
    padding: 6% 4% 6% 4%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 4.6%;
    border: 1px solid black;
    border-radius: 30px;
    width: 90%;
    color: #ffffff;
    font-family: cursive;
}
.f1 {
    background-color: #2828cf; /* Green */
    border: none;
    color: rgb(3, 3, 3);
    padding: 6% 6% 5% 3%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    color: #ffffff;
    font-family: cursive;
}
.rit {
    font-size: 20px;
}
.black{
    background-color: #282c34;
}

.container {
    border: 1px solid rgb(45, 44, 44);
    border-radius: 8px;
    margin-top: 20px;
    padding:0px 10px;
}
.select{
    border: 6px solid rgb(251, 246, 246);
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 30%;
    margin-left: 10px;

}
.attcont {
    border: 1px solid black;
 
    border-radius: 6px;
  
    padding: 0px 10px;
}
.attcont1 {
    border: 1px solid black;
 
    border-radius: 6px;
    width:100%;
    padding: 0px 10px;
}

.ff {
    margin-bottom:0px;
    display: flex;
    flex-direction: row;
}
@media (prefers-reduced-motion: no-preference) {
   
  
.cont {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
    border: 1px solid #282c34;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px rgb(34, 34, 34);
    background: linear-gradient(45deg, #3bb5f2, #8344dc);
    height: '100vh';
    animation: gradient 3s ease infinite;
      font-family:'Times New Roman', Times, serif;
}
}
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: #a66; /* Change this to your desired color */
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
.calendar {
   
    background: linear-gradient(45deg, #1c191e, #2756e4);
    margin-bottom:100px;
    width:30%;
    
}
form .cal{
    width: 250px; /* Adjust this to change the width */
    max-width: 100%;
    height: 250px;
    overflow: auto; /* Add this line */

    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
.cal__month-view__days__day {
    font-size: px; /* Adjust this to change the font size */
  }
@keyframes gradient {

    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.c {
    margin-bottom: 100px;
    background: linear-gradient(45deg, #1c191e, #0c1d4f);
    height: '110vh';
    animation: gradient 3s ease infinite;
    padding-top: 1%;
    padding-bottom: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefbfb;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
}
.c1{
    background: linear-gradient(135deg,#530db5, #060c26, #530db5);
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fefbfb;
    font-family:normal cursive;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border: 1px solid #282c34;
    border-radius: 20px;
}
.back {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(45deg, #1c191e, #0c1d4f);
    width: 100%;
    height: 100%;
    align-items: center;
}
.sel{
    width: 78%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 10px solid rgb(255, 255, 255);
    background-color: #ffffff;

    border-radius: 20px;
}
.back1 {
    
    min-height: 100vh;
    background-color: #adc6f8;
    width: 100%;
    height: 100%;
    align-items: center;
    
}
.m{
   margin-bottom:20px; 
}
.login {
    border: 5px solid white;
    border-radius: 20px;
    width: 80%;
    height: 300px;
    background: linear-gradient(45deg, #3bb5f2, #8344dc);
    margin-top: 50px;
}
.login1 {
    border: 5px solid white;
    border-radius: 20px;
    width: 30%;
    height:300px;
    background: linear-gradient(45deg, #3bb5f2, #8344dc);
    margin-top: 10px;
}

.centre {
    align-items: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 55px;
    margin-top: 10px;
}
.form {
    width: 78%;
    margin-left: 5%;
    margin-top: 5px;
    border: 20px solid white;
    border-radius: 20px;
}
.form1 {
    width: 100%;
    margin-left: 3%;
    margin-top: 4px;
    border: 20px solid white;
    border-radius: 20px;
}
.app-header {
    background-color: #282c34;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: calc(20px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h {
    font-size: 40%;
    text-align: end;
    align-items: end;
    float: right;
    margin-top: 15px;
    text-transform: uppercase;

}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;

}
.slideshow {
    width: 600px;
}
.m {
    text-align: left;
}
.h1 {
    color: rgb(123, 123, 123);
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-size: 40px;
    padding: 1px 20px;
    text-rendering: optimizeLegibility;
    background: linear-gradient(158deg,#500c55, #0b1944, #0c1d4f);
    
}
.elegantshadow
{
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.deepshadow {
    color: #e0dfdc;
    background-color: #0bbca0;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.insetshadow {
    color: #202020;
    background-color: #0bbca0;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #0bbca0;
}

.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
